body {
  background-color: #F7CAC9;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: black;	
}

p {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}